<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.id === 'brg'">
            <p *ngFor="let brg of burgers">
              <span>{{brg.title}}</span> :
              <span>{{brg.description}}</span> 
              <span class="price">{{brg.price | currency:'EUR':'symbol':'1.2-2'}}</span>
              <mat-divider></mat-divider>
            </p>
          </div>
          <div *ngIf="card.id === 'glt'">
            <p *ngFor="let glt of galettes">
              <span>{{glt.title}}</span> :
              <span>{{glt.description}}</span> 
              <span class="price">{{glt.price | currency:'EUR':'symbol':'1.2-2'}}</span>
              <mat-divider></mat-divider>
            </p>
          </div>
          <div *ngIf="card.id === 'pzz'">
            <p *ngFor="let pzz of pizzas">
              <span>{{pzz.title}}</span> :
              <span>{{pzz.description}}</span> 
              <span class="price">{{pzz.price | currency:'EUR':'symbol':'1.2-2'}}</span>
              <mat-divider></mat-divider>
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
